<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="jar://$USER_HOME$/Desktop/Minecraft Servers/1.8.8/server.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/Desktop/Minecraft Servers/1.8.8/server.jar!/" />
    </SOURCES>
  </library>
</component>